<!DOCTYPE html>
<html>
<body>

<!-- The two lines with curly brackets are added, so that they connect to the layout.html page -->
{% extends "layout.html" %}
{% block content %}
<!-- ends here -->

<div class="about">
    <div class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi porta lorem mollis. Purus in mollis nunc sed id semper. Eget lorem dolor sed viverra ipsum nunc aliquet. Adipiscing elit duis tristique sollicitudin nibh. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Enim nec dui nunc mattis enim ut tellus elementum. Maecenas sed enim ut sem. Gravida quis blandit turpis cursus in hac. Donec ultrices tincidunt arcu non. Neque vitae tempus quam pellentesque nec nam aliquam sem. Eu turpis egestas pretium aenean. Est placerat in egestas erat.</p>
    </div>
</div>


<!-- The curly brackets ended here -->
{% endblock %}
<!-- ends here -->

</body>
</html>