<!DOCTYPE html>
<html>
<body>

<!-- The two lines with curly brackets are added, so that they connect to the layout.html page -->
{% extends "layout.html" %}
{% block content %}
<!-- ends here -->

<div class="jumbotron">
<div class="container">
<h1>Welcome to As E Dey Hot</h1>
<p><i>New York Times Top Stories, Lives here.</i></p>
</div>
</div>

     

    
      <div class="container">
          <div class="row">
          {% for data in render_data %}
        <div class="col-sm-4">
          <h3>{{ data.title }}</h3>
            <p>{{ data.byline}}</p>
            <p>{{ data.published_date}}</p>
          <p><a class="col-sm-4 btn btn-default" href="{{ data.url }}" role="button">Read &raquo;</a></p>
        </div>
          {% endfor %}
      </div>
      </div>

         
     
<!-- The curly brackets ended here -->
{% endblock %}
<!-- ends here -->

</body>
</html>
