<!DOCTYPE html>
<html>
<body>

<!-- The two lines with curly brackets are added, so that they connect to the layout.html page -->
{% extends "layout.html" %}
{% block content %}
<!-- ends here -->

<div class="jumbotron">
<div class="container">
<h1>Welcome to As E Dey Hot</h1>
<p>Where New York Top Stories are found.</p>
</div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">          
          
		</div>          
      </div>
        <div class="col-md-7">
          <h2>Persius nominavi usu in</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget duis at tellus at urna condimentum mattis pellentesque.</p><br><br>
          <span><i>By</i> DOLORE MAGNA</span><br><br>
          <span>12 Oct, 2018</span>
          <p><a class="btn btn-default" href="#" role="button">tempor &raquo;</a></p>
        </div>
</div>
<div class="container"><br><br>
      <!-- Row of columns -->
      <div class="row">
        <div class="col-md-3">          
          <h3>Etiam porta</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. </p><br>
          <span><i>By</i> DOLORE MAGNA</span><br><br>
          <span>12 Oct, 2018</span>
          <p><a class="btn btn-default" href="#" role="button">tempor &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h3>Etiam porta</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. </p><br>
          <span><i>By</i> DOLORE MAGNA</span><br><br>
          <span>12 Oct, 2018</span>
          <p><a class="btn btn-default" href="#" role="button">tempor &raquo;</a></p>
		</div>
       <div class="col-md-3">
           <h3>Fusce dapibus</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. </p><br>
          <span><i>By</i> DOLORE MAGNA</span><br><br>
          <span>12 Oct, 2018</span>
          <p><a class="btn btn-default" href="#" role="button">tempor &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h3>Fusce dapibus</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. </p><br>
          <span><i>By</i> DOLORE MAGNA</span><br><br>
          <span>12 Oct, 2018</span>
          <p><a class="btn btn-default" href="#" role="button">tempor &raquo;</a></p>
        </div>
      </div>
      

<!-- The curly brackets ended here -->
{% endblock %}
<!-- ends here -->

</body>
</html>
