<!DOCTYPE html>
<html>
<body>

<!-- The two lines with curly brackets are added, so that they connect to the layout.html page -->
{% extends "layout.html" %}
{% block content %}
<!-- ends here -->

<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
			<section>
				<div id="line">
					<div class="dline"></div>
					<h1>Top Stories</h1>
					<div class="dline"></div>
				</div>
				<div id="story">
                        {% for data in render_data %}
					<article>
						<h1>{{ data.title }}</h1>
						<p>{{ data.abstract }}</p>
                        <p>{{ data.byline}}</p>
                        <p>{{ data.published_date}}</p>
						<a href="{{ data.url }}" class="rm">Read More &raquo;</a>
					</article>
                        {% endfor %}                    
				</div>
			</section>				

         
     
<!-- The curly brackets ended here -->
{% endblock %}
<!-- ends here -->

</body>
</html>
