<!DOCTYPE html>
<html>

<!--  Inserted the linking code to our CSS & Bootstrap by addig a head section -->
<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="static/css/style.css" />
        <title>As E Dey Hot - NY Times Online Top Stories </title>
</head>
<!-- ends here -->

<body id="home">
		<div id="wrapper">
		
            <!--__--__--__--__--__--  L O G O  &   N A V   B A R --__--___--__--__--__-->
			<header>
				<div id="logo">
				<h1>As E Dey Hot...</span></h1>
				<div id="tagline">
					<h2>NY Times Top Stories Lives here !</h2>
				</div>
				</div>
				<nav>
					<ul>
						<li><a href="{{ url_for('home')}}" id="homenav">Home</a></li>
					</ul>
				</nav>
			</header>
			
			    

<!--  The two lines with curly brackets will be replaced on demand by either the home.html , or
the about.html code depending on which URL the user is browsing. For that to happen, you also need to edit those two pages so that they connect to the layout.html page-->
{% block content %}
{% endblock %}
<!-- ends here -->



<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->
			<footer>
				<p>Copyright &copy 2018 As E Dey Hot. All Rights Reserved.</p>
			</footer>
		</div>			        
   </body>
</html>